/********** google fonts ************/
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXV0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXx0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXd0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXZ0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0ppC8MLnbtg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJffIJlp0Gl5qmo.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfWIJlp0Gl5qmo.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfdIJlp0Gl5qmo.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfcIJlp0Gl5qmo.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfSIJlp0Gl5.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055qfQKp5L0ll4.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0576fQKp5L0ll4.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055KfQKp5L0ll4.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055afQKp5L0ll4.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0566fQKp5L0g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/************************************/

/************ Variables *************/
:root {
  /* used for text */
  --clr-primary-light: #fff;
  --clr-primary-medium: #fdf0d5;
  --clr-primary-dark: #780000;
  --clr-primary-black: #000;

  /* background colors*/
  --clr-background-buttons-light: #fff;
  --clr-background-buttons-medium: #fdf0d5;
  --clr-background-buttons-dark: #780000;

  --clr-background-light: #fdf0d5;
  --clr-background-medium: #669bbc;
  --clr-background-dark: #780000;
  --clr-background-black: #000;

  /* fonts */
  --ff-primary: "Montserrat Alternates", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --ff-size-default: 1rem; /* default for all text */
  --ff-size-h-default: 1rem; /* default for all headers */
  --ff-size-tiny: calc(var(--ff-size-default) * 0.5);
  --ff-size-smallest: calc(var(--ff-size-default) * 0.75);
  --ff-size-small: calc(var(--ff-size-default) * 0.875);
  --ff-size-large: calc(var(--ff-size-default) * 1.25);
  --ff-size-h4: calc(var(--ff-size-h-default) * 1);
  --ff-size-h3: calc(var(--ff-size-h-default) * 1.25);
  --ff-size-h2: calc(var(--ff-size-h-default) * 1.75);
  --ff-size-h1: calc(var(--ff-size-h-default) * 2.5);

  /* Text Decoration */
  --spacing: 0.1rem;
  --text-shadow-primary: 4px 7px rgb(53, 53, 53);
  --text-shadow-secondary: 2px 7px #e8713096;

  /* Radius */
  --radius-btn: 50px;
  --radius-box: 20px;
  --radius-circle: 500px;

  /* Box Shadows */
  --box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  --btn-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);

  /* Borders */
  --border-thin: 1px solid #780000;
  --border-thick: 15px solid #780000;

  /* Outlines */
  --outline-thin: 2px solid rgba(132, 41, 227, 0.1);
  --outline-medium: 8px solid rgba(132, 41, 227, 0.25);
  --outline-thick: 14px solid rgba(132, 41, 227, 0.5);
  --outline-very-thick: 20px solid rgba(132, 41, 227, 0.65);

  /* Paddings */
  --box-small-padding: 1rem;
  --box-paddings: 2rem;
  --buttons-long: 2rem;

  /* Grid Gaps */
  --grid-row-gap-default: 1rem;
  --grid-col-gap-default: 1rem;

  --grid-row-gap-thin: calc(var(--grid-row-gap-default) * 1);
  --grid-row-gap-normal: calc(var(--grid-row-gap-default) * 2);
  --grid-row-gap-thick: calc(var(--grid-row-gap-default) * 4);
  --grid-col-gap-thin: calc(var(--grid-col-gap-default) * 1);
  --grid-col-gap-normal: calc(var(--grid-col-gap-default) * 2);
  --grid-col-gap-thick: calc(var(--grid-col-gap-default) * 4);

  /* Transition */
  --transition: all 0.3s linear;
  --slow-transition: all 0.7s linear;

  /* Screen Dimensions */
  --width-phones: 600px; /* max width */
  --width-tablets: 768px; /* min width */
  --width-desktop: 992px; /* min width */
  --width-large: 1200px; /* min width */
  --height-nav: 5rem;
  --height-footer: 18rem;
}
@media screen and (min-width: 992px) {
  :root {
    --grid-col-gap-default: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --ff-size-default: 1.25rem; /* default for all text */
    --ff-size-h-default: 1.4rem; /* default for all headers */

    --grid-col-gap-default: 2rem;
  }
}
/******************************************/

/*************** Global Styles ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-primary-black);
  line-height: 1.5;
  font-size: var(--ff-size-default);
  font-weight: 400;
}

ul {
  list-style-type: none;
}

ol {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: blue;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-primary-black);
  line-height: 1.25;
  font-family: var(--ff-primary);
  text-align: center;
}

h1 {
  font-size: var(--ff-size-h1);
}

h2 {
  font-size: var(--ff-size-h2);
}

h3 {
  font-size: var(--ff-size-h3);
}

h4 {
  font-size: var(--ff-size-h4);
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.5rem;
}

input,
textarea {
  display: block;
  margin: 1rem 0;
  line-height: 1.5rem;
  width: 90%;
  padding: 0.5rem;
}
/*****************************************/

/************* layout globals *************/
.section {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  padding: 3rem 0;
}

/* makes the section center align */
.section-center {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  width: 90vw;
  margin: 0 auto;
  padding: 3rem 0;
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 80vw;
  }
}
/******************************************/

/************* General Globals ************/
.content-divider {
  height: 0.25rem;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(
    to left,
    var(--clr-primary-light),
    var(--clr-primary-medium),
    var(--clr-primary-light)
  );
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
/******************************************/

/************* action globals ************/
.btn {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: var(--ff-size-small);
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--radius-btn);
  text-align: center;
}

.btn-long {
  padding-left: var(--buttons-long);
  padding-right: var(--buttons-long);
}

.btn-light {
  background: var(--clr-background-buttons-light);
  color: var(--clr-primary-dark);
  border: 1px solid var(--clr-primary-dark);
  box-shadow: var(--btn-shadow);
}

.btn-light:hover {
  background: var(--clr-background-buttons-dark);
  color: var(--clr-primary-light);
  border-color: var(--clr-primary-light);
}

.btn-dark {
  background: var(--clr-background-buttons-dark);
  color: var(--clr-primary-light);
}

.btn-dark:hover {
  background: var(--clr-background-buttons-light);
  border: var(--border-thin);
  color: var(--clr-primary-dark);
}

/* Use it for fontawesome icons */
.icon-light {
  color: var(--clr-primary-light);
  background: transparent;
  border-color: transparent;
  font-size: var(--ff-size-h1);
  cursor: pointer;
}

.icon-dark {
  color: var(--clr-primary-dark);
  background: transparent;
  border-color: transparent;
  font-size: var(--ff-size-h1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon-light {
    font-size: var(--ff-size-h2);
  }

  .icon-dark {
    font-size: var(--ff-size-h2);
  }
}

.add-slack {
  width: 139px;
  height: 40px;
}

.home-hero .add-slack {
  margin: 0 auto;
}
/******************************************/

/************** boxes **************/
.box-borders {
  border: var(--border-thin);
  padding: var(--box-paddings);
}

.box-rounded-borders {
  border: var(--border-thin);
  padding: var(--box-small-padding);
  border-radius: var(--radius-box);
}

.box-no-borders {
  border: none;
  padding: var(--box-paddings);
}
/******************************************/

/************** Text **************/
.color-light {
  color: var(--clr-primary-light);
}

.color-medium {
  color: var(--clr-primary-medium);
}

.color-dark {
  color: var(--clr-primary-dark);
}

.color-black {
  color: var(--clr-primary-black);
}
/******************************************/

/************* Top Nav ********************/
.top-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: var(--height-nav);
}

.top-nav .btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.btn-grid {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content max-content;
  -moz-column-gap: 0.6rem;
  column-gap: 0.6rem;
  align-items: center;
}

.btn-grid img {
  width: 1.8rem;
}

.nav-logo {
  padding: 1rem;
}

.nav-logo img {
  width: auto;
  height: auto;
}

.nav-action-btn {
  justify-self: end;
  padding-right: 1rem;
}

.top-nav ul {
  display: none;
  text-align: center;
  padding-right: 5rem;
}

.top-nav ul a {
  text-transform: capitalize;
  color: var(--clr-primary-black);
}

/* Fix the navbar to the top */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

/* show top nav for tablets and desktop */
@media screen and (min-width: 1000px) {
  .top-nav button {
    display: none;
  }

  .top-nav ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    -moz-column-gap: 2.3rem;
    column-gap: 2.3rem;
    align-self: center;
    align-items: center;
  }

  .top-nav ul a {
    font-size: var(--ff-size-small);
  }

  .top-nav ul a:hover {
    color: var(--clr-primary-dark);
    transition: var(--transition);
  }
}
/******************************************/

/************* Sidebar ********************/
.sidebar {
  position: fixed;
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: var(--grid-row-gap-normal);
  justify-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--clr-background-medium);
  transform: translateX(-100%);
  transition: var(--transition);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar button {
  align-self: start;
  padding-top: 2rem;
}

.sidebar-links {
  display: grid;
  place-items: center;
  row-gap: var(--grid-row-gap-thin);
}

.sidebar-links a {
  color: var(--clr-primary-light);
  font-size: var(--ff-size-large);
  text-transform: uppercase;
}

.sidebar-links a:hover {
  color: var(--clr-primary-medium);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: var(--grid-col-gap-thin);
  column-gap: var(--grid-col-gap-thin);
}
/******************************************/

/* hero */
.home-hero-section {
  background-color: var(--clr-background-buttons-medium);
}

.home-hero {
  display: grid;
  row-gap: 2.2rem;
  background-color: var(--clr-background-light);
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  align-items: center;
}

.home-hero p {
  margin-top: 1.3rem;
  text-align: center;
}

.home-video-container {
  box-shadow: 0 16px 17px 0 rgb(0 0 0 / 13%);
}

/* wave  */

.custom-shape-divider-bottom-1672184043 {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672184043 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1672184043 .shape-fill {
  fill: #ffffff;
}

.wave {
  grid-column: 1 / -1;
}

.home-divider {
  margin: 0 0 5rem 0;
}

.home-content-right {
  display: grid;
  row-gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.home-content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.home-content p {
  font-size: var(--ff-size-small);
}

.home-wave {
  display: none;
}

.home-wave p {
  background-color: var(--clr-background-dark);
  color: var(--clr-background-buttons-light);
  margin: 0;
  padding: 1.5rem;
  border-radius: 20px 20px 0 0;
  font-size: var(--ff-size-small);
}

.home-wave img {
  background-color: var(--clr-background-dark);
  height: 4rem;
}

@media screen and (min-width: 992px) {
  .home-wave {
    display: block;
  }

  .home-hero {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }

  .home-hero h1,
  .home-hero p {
    text-align: start;
  }

  .home-hero .btn {
    margin: 1.5rem 0;
    width: 11rem;
  }

  .home-content-right {
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 10rem;
    column-gap: 10rem;
  }
}

/****************** PRICING PAGE **************/
.pricing-hero {
  background-color: var(--clr-background-light);
}

.pricing-hero article,
.getting-starteds-hero article {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  font-family: var(--ff-secondary);
}

.frequency-switch {
  width: 13rem;
  border: var(--border-thin);
  border-radius: var(--radius-btn);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-family: var(--ff-secondary);
}

.frequency-switch span.plans-toggle-active {
  background-color: var(--clr-background-buttons-dark);
  color: var(--clr-primary-light);
  border-radius: var(--radius-btn);
  padding: 0.5rem;
}

.pricing-box .upgrade-btn {
  width: 50%;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

.pricing-box .upgrade-btn .btn {
  display: block;
  width: 10rem;
  margin: 0 auto;
  box-shadow: none;
}

.pricing-light-box {
  background-color: var(--clr-background-dark);
}

.pricing-light-box .box-price,
.pricing-light-box .box-content .fa-circle-check,
.pricing-light-box p,
.pricing-light-box h3 {
  color: var(--clr-primary-medium);
}

.pricing-light-box h3,
.pricing-dark-box h3 {
  text-align: start;
}

.pricing-dark-box {
  background-color: #ffffff;
  border: var(--border-thin);
}

.most-popular-top-line {
  background-color: var(--clr-background-dark);
  width: 100%;
  height: 0.3rem;
}

.most-popular-top-line span {
  background-color: var(--clr-background-buttons-light);
  text-align: center;
  padding: 0.1rem;
  display: block;
  width: 9rem;
  margin: 0 auto;
  position: relative;
  top: -0.5rem;
  border: var(--border-thin);
  border-radius: var(--radius-btn);
  color: var(--clr-primary-dark);
  font-weight: bold;
  font-size: var(--ff-size-tiny);
}

.box-plan-type {
  font-family: var(--ff-secondary);
  font-weight: bold;
  margin: 1rem;
  font-size: var(--ff-size-large);
}

.pricing-dark-box .box-plan-type {
  color: var(--clr-background-buttons-dark);
}

.big-number {
  font-family: var(--ff-secondary);
  font-weight: bold;
  font-size: 4rem;
}

.hide-price {
  display: none;
}

.box-price {
  color: var(--clr-primary-dark);
  padding: 0 1rem;
}

.box-content {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 1rem;
  font-family: var(--ff-secondary);
  font-size: var(--ff-size-small);
}

.box-content .fa-circle-check {
  color: var(--clr-primary-dark);
}

.plans-grid {
  display: none;
}

.plans-grid-mobile div {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 1.2rem;
  font-family: var(--ff-secondary);
  border-bottom: 1px solid var(--clr-background-buttons-dark);
  padding-bottom: 1.2rem;
  margin-bottom: 2rem;
}

.plans-grid-mobile .fa-circle-question {
  color: var(--clr-primary-dark);
}

.plans-grid-mobile div h2 {
  grid-column: 1 / -1;
  text-align: start;
  color: #780000;
  font-size: 2.5rem;
}

.plans-grid-mobile .fa-circle-check {
  color: var(--clr-primary-dark);
}

.pricing-faq article {
  display: grid;
  grid-template-columns: 8fr 1fr;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-background-light);
  margin-bottom: 2rem;
  width: 100%;
}

.pricing-faq h2 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.pricing-faq article h3 {
  color: var(--clr-primary-dark);
  text-align: start;
  font-family: var(--ff-secondary);
  font-weight: 500;
  font-size: 1.4rem;
}

.pricing-faq article p {
  overflow: hidden;
  height: auto;
  max-height: 0px;
  transition: height 1s ease-in-out, max-height 0.2s ease-in-out, padding 0.2s;
}

.pricing-faq article.show-content p,
.pricing-faq article.show-content .fa-minus {
  display: block;
}

.pricing-faq article.show-content p {
  margin: 0;
  padding: 0;
  padding: 1rem 0;
  max-height: 600px;
  transition: max-height 1s ease-in-out, padding 1s ease-in-out;
}

.pricing-faq article p {
  padding-top: 1rem;
  text-align: start;
}

.pricing-faq article.show-content .fa-plus {
  display: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-plus {
  text-align: end;
  color: var(--clr-primary-dark);
}

.fa-minus {
  display: none;
  text-align: center;
  color: var(--clr-primary-dark);
}

/************************** GETTING STARTED **************************/

.getting-starteds-hero,
.security-hero {
  background-color: var(--clr-background-light);
}

.getting-starteds-hero article {
  padding: 5rem;
}

.guides-nav {
  display: grid;
  padding: 1rem;
  border: 1px solid var(--clr-primary-dark);
  border-radius: var(--radius-box);
  text-align: center;
  align-items: center;
}
.guides-nav a {
  color: var(--clr-primary-black);
  padding: 1rem;
  font-size: 1rem;
}

.guides-nav a:hover {
  text-decoration: underline;
}

a.active-guide-nav {
  background-color: var(--clr-background-buttons-dark);
  color: var(--clr-primary-light);
  padding: 1rem;
  border-radius: 3rem;
}

.how-to-create-a-poll {
  display: grid;
  row-gap: 1rem;
}

.how-to-create-a-poll p {
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
}

.how-to-create-a-poll img {
  width: 600px;
  justify-self: center;
}

.security-hero article {
  display: grid;
  padding: 4rem;
}

.security-hero .fa-shield {
  text-align: center;
  font-size: 4rem;
  color: var(--clr-primary-dark);
}

.security-boxes article {
  display: grid;
  row-gap: 0.5rem;
  width: 90%;
  padding: 1rem;
}

.security-boxes article h3 {
  text-align: start;
}

.security-boxes article p {
  font-size: 1rem;
  font-family: var(--ff-secondary);
}

.light-box {
  background-color: var(--clr-background-light);
}

.light-box i {
  color: var(--clr-primary-dark);
  font-size: 2.6rem;
}

.dark-box {
  background-color: var(--clr-background-dark);
}

.dark-box h3,
.dark-box p {
  color: var(--clr-primary-light);
  text-align: start;
}

.dark-box i {
  font-size: 2.6rem;
  color: var(--clr-primary-medium);
}

.scope-page-section,
.cookie-policy-page,
.privacy-policy-section,
.terms-of-service-section {
  padding: 2rem 6rem;
  margin-top: 2rem;
}

.scope-page-section h1,
.cookie-policy-page h1,
.privacy-policy-section h1,
.terms-of-service-section h1 {
  text-align: start;
  margin-bottom: 1rem;
  color: var(--clr-primary-dark);
  font-family: var(--ff-primary);
}

.scope-page-section h2,
.cookie-policy-page h2,
.privacy-policy-section h2,
.terms-of-service-section h2 {
  text-align: start;
  margin-top: 2rem;
  color: var(--clr-primary-dark);
  font-family: var(--ff-primary);
  font-size: 1.3rem;
  font-weight: bold;
}

.scope-page-section p,
.cookie-policy-page p,
.privacy-policy-section p,
.terms-of-service-section p {
  font-size: 1rem;
  font-family: var(--ff-secondary);
}

.cookie-policy-page h3,
.privacy-policy-section h3,
.terms-of-service-section h3 {
  text-align: start;
  margin-top: 2rem;
  color: var(--clr-primary-dark);
  font-size: 1.1rem;
}

.privacy-policy-section small,
.terms-of-service-section small {
  color: rgba(98, 91, 91, 0.933);
}

@media screen and (min-width: 768px) {
  .security-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  /* PRICING */
  .pricing-hero article {
    padding: 6rem;
  }

  .pricing-boxes-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    align-items: center;
  }

  /* compared-plans for desk-top  */

  .plans-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
    font-family: var(--ff-secondary);
  }

  .plans-grid .fa-circle-check {
    color: var(--clr-primary-dark);
  }

  .plans-grid .plan-item-name {
    position: relative;
    justify-self: start;
  }

  .plans-grid .tooltip {
    position: relative;
    display: inline-block;
  }

  .plans-grid .tooltip p {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: var(--ff-primary);
    font-size: var(--ff-size-tiny);
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .plans-grid .tooltip:hover p {
    visibility: visible;
  }

  .plans-grid .tooltip .fa-circle-question {
    cursor: pointer;
    color: var(--clr-background-dark);
  }

  .plans-grid span {
    font-size: var(--ff-size-smallest);
  }

  .plans-grid hr {
    width: 100%;
    grid-column: 1 / -1;
  }

  .plans-grid-mobile {
    display: none;
  }

  .pricing-faq article {
    width: 50rem;
  }

  /************************** GETTING STARTED **************************/

  .getting-started-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }

  .guides-nav {
    height: 25rem;
  }

  .security-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*************** Footer *********************/
.footer-wave {
  background-color: var(--clr-background-buttons-medium);
  height: 80px;
}
footer {
  background-color: var(--clr-background-buttons-medium);
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 3rem;
  padding: 2rem;
  grid-template-areas:
    "logo"
    "social"
    "links"
    "copyright";
}

.footer-logo {
  grid-area: logo;
}

.footer-logo .social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 8rem;
  margin: 1rem auto;
  justify-items: center;
}

.footer-logo .icon-dark {
  font-size: 1.5rem;
}

.footer-links {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  font-size: var(--ff-size-default);
}

.footer-links ul {
  line-height: 2.5rem;
  text-transform: capitalize;
}

.footer-links a {
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--clr-primary-black);
  font-size: var(--ff-size-small);
  text-transform: capitalize;
}

.footer-links a:hover {
  color: var(--clr-primary-dark);
  transition: var(--transition);
}

.footer-contact {
  grid-area: social;
  display: grid;
  align-self: center;
  grid-gap: 1rem;
}

.footer-contact a {
  font-size: var(--ff-size-smallest);
  color: var(--clr-primary-dark);
  font-family: "Montserrat Alternates", sans-serif;
}

.copyright {
  grid-area: copyright;
  color: var(--clr-primary-black);
  text-align: center;
  font-size: var(--ff-size-smallest);
  margin-top: 1.8rem;
  margin-bottom: 0;
}

.copyright p {
  margin: 0;
}

.whatsapp-icon {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 6.2rem;
  z-index: 1;
  padding: 0.9rem;
}

.whatsapp-icon img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  footer {
    row-gap: 0rem;
    grid-template-areas:
      "logo links social"
      "copyright copyright copyright";
  }
}
/******************************************/
